<div class="footer">
  <div class="container">
    <!--<h1 align="center">Footer</h1>-->
    <br>
    <div class="row">
      <div class="col-md2">
      </div>
      <div class="col-md2" align="left">
        <h4>TEA</h4>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">White tea</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Green tea</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Yellow tea</a>
          </li>
        </ul>
      </div>
      <div class="col-md2">
      </div>
      <div class="col-md2">
      </div>
      <div class="col-md2">
      </div>
      <div class="col-md2">
      </div>
    </div>
  </div>
</div>
